<?xml version="1.0" encoding="UTF-8"?>
<launch4jConfig>
  <dontWrapJar>false</dontWrapJar>
  <headerType>console</headerType>
  <jar>C:\R10\R10Magazalar.jar</jar>
  <outfile>C:\R10\Magazalar.exe</outfile>
  <errTitle></errTitle>
  <cmdLine></cmdLine>
  <chdir>.</chdir>
  <priority>normal</priority>
  <downloadUrl></downloadUrl>
  <supportUrl></supportUrl>
  <stayAlive>false</stayAlive>
  <restartOnCrash>true</restartOnCrash>
  <manifest></manifest>
  <icon>C:\Users\48alp\Downloads\Line_ui_icons_Svg-10_icon-icons.com_72171.ico</icon>
  <classPath>
    <mainClass>R10magaza</mainClass>
  </classPath>
  <jre>
    <path>JRE</path>
    <requiresJdk>false</requiresJdk>
    <requires64Bit>false</requires64Bit>
    <minVersion></minVersion>
    <maxVersion></maxVersion>
  </jre>
</launch4jConfig>